
    <header>
        <mat-toolbar class="header" color="primary">
        <mat-toolbar-row class="row-header">
            <button mat-button routerLink="/quiz">
                <img src="http://www.retgproductions.fr/component/image/burger-quiz.png"  width="80px" >
            </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <body>
        <ng-component></ng-component>
    </body>
    <footer>
        <img class ="imageBottom" src="https://photos2.tf1.fr/660/370/burger-quiz-vive-pub-burger-quizz-d38397-0@1x.jpg"  height="100px" > 
    </footer>