<mat-card class="card">
    <div>
        <table mat-table [dataSource]="quizs" class="table-quiz">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let quiz"> {{quiz.name}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre" class="nombre">
                <th mat-header-cell *matHeaderCellDef class="nombre"> Nombre de questions </th>
                <td mat-cell *matCellDef="let quiz" class="nombre"> {{quiz.questions.length}} </td>
            </ng-container>
            <ng-container matColumnDef="choisir">
                <th mat-header-cell *matHeaderCellDef> Choisir </th>
                <td mat-cell *matCellDef="let quiz">
                    <button mat-stroked-button class="bouton" (click)="lancer(quiz.id)">Lancer </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</mat-card>