
  .table-quiz{
    text-align: center;
  }

  .nombre, .choisir {
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .bouton{
    display: block;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
  }

