<html>
    <body>
        <mat-card class="card" *ngIf="typeQuestion()">
            <div>
                <h3 class="title">{{question.text}}</h3>
                <div>
                    <mat-radio-group class="choix" [(ngModel)]="favoriteChoice" [disabled]="disabledButton()">
                     <mat-radio-button class="choixButton" *ngFor="let choice of question.choices" [(value)]=choice>
                            {{choice.value}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div>
                <button mat-stroked-button class="bouton" (click)="createAnswer()" [disabled]="disabledButton()">Répondre</button>
                <button mat-stroked-button class="bouton" (click)="questionSuivante()"[disabled]="!disabledButton()">Suivante</button>
            </div>
        </mat-card>
        <mat-card class="card" *ngIf="!typeQuestion()">
            <div>
                <h3 class="title">{{question.text}}</h3>
                <mat-form-field class="reponse">
                    <input matInput placeholder="reponse" [(ngModel)]="reponse" required="true"> 
                </mat-form-field>
            </div>
            <div>
                <button mat-stroked-button class="bouton" (click)="createAnswer()" [disabled]="enableButtonRepondre()">Répondre</button>
                <button mat-stroked-button class="bouton" (click)="questionSuivante()"[disabled]="!disabledButton()">Suivante</button>
            </div>
        </mat-card>
    </body>
</html>
